<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <param
    name="robot_description"
    textfile="$(find rover_sensors_final)/urdf/rover_sensors_final.gazebo" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher1"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher1"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz1"
    pkg="rviz"
    type="rviz"
    args="-d $(find rover_sensors_final)/urdf.rviz" />
</launch>
